:root {
	--row2: #030d25;
	--fac-cu-capu: #03123b;
	--font-color: #d1e5ee;
	--fite: #172446;
	--color-accent: #020a20;
	--blue1: #d1e5ee;
	--nav-blue: #172446;
	--color-background: #172446;
	--grayish-blue: #464866;
	--gray: #aaabb8;
	--lapis-lazuli: #2e9cca;
	--aqua-blue: #29648a;
	--font-programator: "Ubuntu Mono", monospace;
	--font-programator2: "FR73PixelW00-Regular";
	--fontcolor: #d1e5ee;
	--fontcolor2: #020a20;
	--fontcolor3: #172446;
	--fontcolor-textarea: #d1e5ee;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #41819d;
	background-image: url(../images/fundal.svg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.9rem;
	background-color: var(--nav-blue);
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li {
	color: var(--fontcolor);
	margin: 0 6px;
}

#logo {
	height: 110px;
	width: auto;
}

.leaderboard-button {
	background-color: var(--font-color);
	border-radius: 15px;
	padding: 5px;
	color: var(--fontcolor3);
}

.leaderboard-button a {
	display: flex;
	align-items: center;
}

.trophy {
	height: 30px;
	width: auto;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	background-color: var(--color-accent);
	width: 30%;
	height: 25vh;
	border-radius: 20px;
	text-align: center;
	margin-top: 25vh;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	flex: 0 1 auto;
	background-color: var(--color-background);
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
	font-family: "FR73PixelW00-Regular";
	color: var(--fontcolor2);
	font-size: small;
	color: white;
}

input[type="number"] {
	width: 15vw;
}

input[type="password"] {
	width: 10vw;
}

/*Hide input number row*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

form button {
	color: var(--fontcolor2);
	font-family: inherit;
	background-color: #d1e5ee;
	padding: 0.3rem 3.4rem;
	box-shadow: 0 0 0 black;
	transition: all 0.2s;
	width: 200px;
	text-align: center;
	float: right;
}

form button:hover {
	box-shadow: 0.4rem 0.4rem 0 black;
	transform: translate(-0.4rem, -0.4rem);
}
